body{
    padding: 0;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
  color: #000;
  background-color: #9fea00;
}

.header{
    width: 50%;
    margin-left: 25%;
}
.footer{
    background: url(../images/football/main-bg.gif) repeat-x 0 0;
    padding-top: 8px;
    padding-bottom: 45px;
}